@import url(fonts.css);
@import url(base.css);
@import url(header.css);
@import url(hero.css);
@import url(sobre.css);
@import url(mission.css);
@import url(cultura.css);

:root {
  /*COLORS*/
  --branco: #fffcfc;
  --preto: #020202;
  --destaque: #927d58;
  --BGSection: #8b6f47;
  --BGfooter: #2d2416;

  /*Fonts*/
  --FontPadrão: Montserrat;
  --FontDestaque: Destaque;
  --DestaqueBold: DestaqueBold;

  /*Font Weight*/

  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
}
